- title('2012')

:markdown
  Node.js Knockout is a 48-hour node.js hackathon. [Learn more](/about).

if registration
  section.when
    h3 node.js knockout 2012 is
      .dates
        a( href="http://bit.ly/MoVN39" )
          time.start( datetime="2012-11-10T00:00:00Z" ) Nov 10
        |  - 
        a( href="http://bit.ly/MoW3Pp" )
          time.end( datetime="2012-11-12T00:00:00Z" ) Nov 12, 2012
        |  UTC
    #countdown from now

    if req.canRegister
      h1 Registration is Open
      if req.team
        p Your team: <a href="/teams/#{team}">#{team.name}</a>
      else
        p: a.register.button( href="/teams/new" ) Register Now
      p: i= req.teamsLeft + " spots remaining"
    else
      h1 Registration is Full
      p: a( href="/teams/new" ) More spots on Nov 1 at 0:00 & 12:00 UTC

else
  h1 Timeline

  table.timeline
    thead: tr: th.time Local Time
    tbody
      tr
        td.time( datetime='2012-11-03T00:00:00Z' ) Nov 03 00:00
        td Registration closes
    tbody
      tr
        td.time( datetime='2012-11-10T00:00:00Z' ) Nov 10 00:00
        td Coding starts
      tr.details: td( colspan=2 )
        p Good pre-info
    tbody
      tr
        td.time( datetime='2012-11-12T00:00:00Z' ) Nov 12 00:00
        td Coding ends
      tr.details: td( colspan= 2 )
        p GOGOGO
        p Deploy instructions. Dashboard.
    //- Grace period
    //- Presentations
    tbody
      tr
        td.time( datetime='2012-11-12T01:00:00Z' ) Nov 12 01:00
        td Contestant, public judging starts
      tr.details: td( colspan= 2 )
        p judging starts
    tbody
      tr
        td.time( datetime='2012-11-12T12:00:00Z' ) Nov 12 12:00
        td Expert judging starts
      tr.details: td( colspan= 2 )
        p judging starts
    tbody
      tr
        td.time( datetime='2012-11-18T00:00:00Z' ) Nov 18 00:00
        td Judging ends
      tr.details: td( colspan= 2 )
        p judging ends
    tbody
      tr
        td.time( datetime='2012-11-19T00:00:00Z' ) Nov 19 00:00
        td Winners announced
      tr.details: td( colspan= 2 )
        p winners
    
section.ps
  p.ps.
    P.S. This is a massively-multiplayer website: click around and chat with
    other visitors. Click on the lamp post for easier chatting.
